body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #666;
    margin-top: 50px;
    text-align: center;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

.form-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group label {
    display: inline-block;
    text-align: center;
    width: 19%;
    margin: auto 0;
    font-weight: bold;
}

.form-group input {
    padding: 8px;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #3c3fde;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: right;
}

button:hover {
    background-color: #2d2fa3;
}

.table-container {
    margin-top: 40px;
}

table {
    max-width: 600px;
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f9f9f9;
}

.clear {
    clear: right;
}