/* =========================
   기본 설정
   ========================= */
body {
    margin: 0;
    font-family: "맑은 고딕", Arial, sans-serif;
    background: url("../images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

/* =========================
   전체 레이아웃
   ========================= */
#wrapper {
    width: 800px;
    margin: 50px auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* =========================
   헤더
   ========================= */
header {
    background: rgba(255, 255, 255, 0.);
    padding: 20px;
}
header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

/* =========================
   네비게이션 메뉴
   ========================= */
nav {
    background: #333;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    flex: 1;
    text-align: center;
}
nav a {
    display: block;
    padding: 12px;
    color: #fff;
    text-decoration: none;
}
nav a:hover {
    background: #444;
}
nav a.current {
    background: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

/* =========================
   본문
   ========================= */
section {
    background: rgba(255, 255, 255, 0.8);
    border: 3px solid;
}
article {
    padding: 30px;
}
article h2 {
    font-size: 25px;
}

#header_wrapper {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.iconimg{
    width: 50px;
}
article p {
    line-height: 1.6;
}
.stringimg {
    float: right;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 4px;
}

/* =========================
   리스트
   ========================= */
article ol {
    margin: 15px 0;
    padding-left: 20px;
}
article ul {
    margin: 8px 0 15px 0;
    padding-left: 20px;
}

/* =========================
   테이블 (plan.html)
   ========================= */
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: 0 auto;
}
caption {
    caption-side: top;
    font-weight: bold;
    margin-bottom: 10px;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
th {
    background: #f4f4f4;
    text-align: center;
    width: 80px;
}

/* =========================
   푸터
   ========================= */
footer {
    background: #555;
    color: #eee;
    text-align: left;
    padding: 15px;
    font-size: 14px;
}
footer address {
    font-style: normal;
    margin-top: 5px;
    color: #ccc;
}
